@{
    ViewData["Title"] = "Monitör";
}

<div class="d-flex flex-column align-items-center justify-content-center mt-5">
    <button id="clear">Temizle</button>
</div>

<div id="history" class="d-flex flex-column align-items-center justify-content-center mt-3">
    <ul id="listHistory"></ul>
</div>

<script src="~/js/monitoring.js"></script>
